.search-chat-startover {
    text-align: right;
}
.search-chat-accordion-title {
    flex-grow: 100;
}
.search-chat-components .MuiAccordionSummary-content {
    align-items: center;
}
.search-chat-accordion-details {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    z-index: 100;
}
.search-chat-accordion-details-single-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px 20px;
}
.search-chat-accordion-details-single-row-title {
    min-width: 180px;
    font-weight: bold;
}
.search-chat-accordion-details-single-row-value {
    flex-grow: 100;
}