.search-body {
    width: 100%;
    height: 100%;
}
.search-chat-area {
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}
.search-chat-area.detailsOpen {
    height: calc(100% - 330px);
    max-height: calc(100% - 330px);;
}
.search-chat-components {
    min-height: 60px;
    width: 100%;
    background: lightgray !important;
}
.search-chat-components.Mui-expanded {
    min-height: 280px;
}
.search-chat-interactions {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 10px;
}
.search-chat-input {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-chat-input .MuiTextField-root {
    flex-grow: 100;
    padding: 0 10px;
}
.search-chat-input .search-error {
    flex-grow: 100;
    padding: 0 10px;
}
.search-chat-output {
    width: 100%;
}